@font-face {
    font-family: pokeFont;
    src: url(./assets/fonts/pokemon-emerald.ttf);
  }
  @media screen and (min-width: 75px){
    a:active, a:hover, a:link, a:visited{
      text-decoration: none;
      color: white;
    }
    li {
        list-style: none;
        text-decoration: none;
    }
    .item{
        font-family: 'Teko', sans-serif;
        font-size: 1rem;
        border: 5px solid transparent;
        color: white;
        text-shadow: 2px 2px black;
        font-weight: bold;
    }
    .caret{
      filter: drop-shadow(2px 2px rgba(0, 0, 0, 1));
      height: 20px;
    }
    .icons{
      height: 40px;
    }
    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(to right, #950224 5%, #f91d37 10% 90%, #950224 95%);
        display: flex;
        flex-direction: row;
        padding-left: 5px;
        border-bottom: 7px solid black;
    }
      .main{
        width: 100%;
        min-height: calc(100vh - 25px - 40px);
        margin: 40px auto 25px;
        background-color: white;
        background-image: linear-gradient(#878787 .3rem, transparent .3rem), linear-gradient(90deg, #878787 .3rem, transparent .3rem);
        background-size: 10rem 10rem;
        background-position: -0.1rem -0.1rem;
        display: grid;

      }
      .container{
        margin: 5% auto;
      }
      .button{
        outline: none;
        border: 10px solid #404B69;
        font-size: 4rem;
        font-family: pokeFont;
        line-height: 2;
        font-weight: 900;
        color: #87908c;
        text-shadow: 3px 3px black;
        border-radius: 15px;
        display: inline-block;
        width: 290px;
        height: 150px;
        text-align: center;
        margin: 10px;
        background-color: white;
      }
      .dice{
        background-image: url("./assets/images/dicee2.png");
        background-position: center;
      }
      .drum{
        background-image: url("./assets/images/drumm2.png");
        background-position: center;
      }  
      .footer {
        background-color: white;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
      }
  }
  @media screen and (min-width: 375px) and (max-width: 568px){
    a:active, a:hover, a:link, a:visited{
      text-decoration: none;
      color: white;
    }
    li {
        list-style: none;
        text-decoration: none;
    }
    .item{
        font-family: 'Teko', sans-serif;
        font-size: 1.5rem;
        border: 5px solid transparent;
        color: white;
        text-shadow: 2px 2px black;
        font-weight: bold;
    }
    .caret{
      filter: drop-shadow(2px 2px rgba(0, 0, 0, 1));
      height: 30px;
    }
    .icons{
      height: 40px;
    }
    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(to right, #950224 5%, #f91d37 10% 90%, #950224 95%);
        display: flex;
        flex-direction: row;
        padding-left: 10px;
        border-bottom: 7px solid black;
    }
      .main{
        width: 100%;
        min-height: calc(100vh - 25px - 53px);
        margin: 53px auto 25px;
        background-color: white;
        background-image: linear-gradient(#878787 .3rem, transparent .3rem), linear-gradient(90deg, #878787 .3rem, transparent .3rem);
        background-size: 10rem 10rem;
        background-position: -0.1rem -0.1rem;
        display: grid;
        grid-template-rows: 1.2fr 1fr 1fr 1fr;
      }  
      .container{
        margin: 5% auto;
      }
      .button{
        outline: none;
        border: 10px solid #404B69;
        font-size: 4rem;
        font-family: pokeFont;
        line-height: 2;
        font-weight: 900;
        color: #87908c;
        text-shadow: 3px 3px black;
        border-radius: 15px;
        display: inline-block;
        width: 340px;
        height: 150px;
        text-align: center;
        margin: 10px;
        background-color: white;
      }
      .dice{
        background-image: url("./assets/images/dicee2.png");
        background-position: center;
      }
      .drum{
        background-image: url("./assets/images/drumm2.png");
        background-position: center;
      }
      .footer {
        background-color: white;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
      }
  }
  @media screen and (min-width: 568px){
    a:active, a:hover, a:link, a:visited{
      text-decoration: none;
      color: white;
    }
    li {
        list-style: none;
        text-decoration: none;
    }
    .item{
        font-family: 'Teko', sans-serif;
        font-size: 2rem;
        border: 5px solid transparent;
        color: white;
        text-shadow: 2px 2px black;
        font-weight: bold;
    }
    .caret{
      filter: drop-shadow(2px 2px rgba(0, 0, 0, 1));
      height: 40px;
    }
    .header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(to right, #950224 5%, #f91d37 10% 90%, #950224 95%);
        display: flex;
        flex-direction: row;
        padding-left: 30px;
        border-bottom: 7px solid black;
    }
      .main{
        width: 100%;
        min-height: calc(100vh - 25px - 65px);
        margin: 65px auto 2px;
        background-color: white;
        background-image: linear-gradient(#878787 .3rem, transparent .3rem), linear-gradient(90deg, #878787 .3rem, transparent .3rem);
        background-size: 10rem 10rem;
        background-position: -0.1rem -0.1rem;
        display: grid;
        grid-template-rows: 1.2fr 1fr 1fr 1fr;
      }
      .container{
        margin: 5% auto;
      }
      .button{
        outline: none;
        border: 10px solid #404B69;
        font-size: 5rem;
        font-family: pokeFont;
        line-height: 2;
        font-weight: 900;
        color: #87908c;
        text-shadow: 3px 3px black;
        border-radius: 15px;
        display: inline-block;
        width: 450px;
        height: 150px;
        text-align: center;
        margin: 10px;
        background-color: white;
      }
      .dice{
        background-image: url("./assets/images/dicee2.png");
        background-position: center;
      }
      .drum{
        background-image: url("./assets/images/drumm.png");
        background-position: center;
      }
      .footer {
        background-color: white;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
      }
  }